body {
  background-color: green;
}

.card {
  width: 300px;
  height: 400px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
  position: relative; /* Añade posición relativa al contenedor */
}

.number {
  font-size: 130px;
  display: inline-block;
  margin-left: 120px;
  margin-top: 100px;
}

.firsticon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 80px;
}

.secondicon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 80px;
}